/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- End of CSS reset ---------- */

body {
    font-family: Arial, sans-serif;
    font-size: 1em;
}

table {
    width: 100%;
}

td {
    padding: 0.8em 1em;
}

tr:nth-child(2n+1)
{
    background-color: #ddd;
}

#container {
    width: 960px;
    margin: 0 auto;

}

h1 {
    font-size: 3em;
    font-weight: 600;
    margin: 0.3em 0;
    text-align: center;
    border-bottom: 2px solid black;
}

h2 {
    font-size: 1.4em;
    font-weight: 600;
    margin: 0.3em 0;
}

td a {
font-size: 1em 0 0.75em;
}

th {
    padding: 0.8em 1em;
    font-size: 1.2em;
    font-weight: 600;
    background-color: black;
    color: white;
    text-align: left;
}

#MessagePanel {
    background-color:lightgreen;
    margin: 1em 0;
    color: darkgreen;
    border: 2px solid darkgreen;
    padding: 0.8em 1em;
    overflow:auto;
}
#MessagePanel p {
float:left;
}

#MessagePanel a {
color: darkgreen;
text-decoration:none;
float:right;
}


#ValidationSummary {
    border: 2px solid darkred;
    background-color:red;
    margin: 1em 0;
    color: white;
    padding: 0.8em 1em;
}

#ValidationSummary li {
    margin: 0.8em 0;
}

#Pager {
    padding: 1em;
    text-align: center;
}

.errorMessage {
    font-size: 2em;
    color: red;
    text-align: center;
    margin: 3em 0;
}

#backLink {
    text-align: center;
    font-size: 1.4em;

}

input[type=submit] {
  margin-bottom: 1em;
}
.inputLabel {
    width: 120px;
    display:inline-block;
}

.formRow {
    margin: 1em 0;
}
